In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/raw/raw_listings.csv")
data.head()

,id,title,price,location,address,description,bedrooms,bathrooms,parking,size,source,page,url,inserted_at
0,1,2 Bedroom Apartment / Flat,KSh 15 140 000,Westlands,"Westlands, Westlands, Nairobi",1 bedroom (58 sqm) from Kes. 9.12m – 9.47M\r\n...,2.0,2.0,2.0,94 m²,property24,1,https://www.property24.co.ke/property-for-sale...,2025-07-30 23:33:22.904488
1,2,4 Bedroom Apartment / Flat,KSh 23 500 000,Parklands,"Parklands, Parklands, Nairobi",Price: KSH 23.5M\r\n\r\nStep into luxury with ...,4.0,4.0,2.0,112 m²,property24,1,https://www.property24.co.ke/property-for-sale...,2025-07-30 23:33:22.904488
2,3,2 Bedroom Apartment / Flat,KSh 12 600 000,Westlands,"Westlands, Westlands, Nairobi",Discover a stunning 24-floor residential maste...,2.0,2.0,2.0,94 m²,property24,1,https://www.property24.co.ke/property-for-sale...,2025-07-30 23:33:22.904488
3,4,4 Bedroom Apartment / Flat,KSh 57 300 000,Westlands,"Westlands, Westlands, Nairobi","Elegant & Spacious 2, 3 & 4 Bedroom Apartments...",4.0,5.0,3.0,3400 m²,property24,1,https://www.property24.co.ke/property-for-sale...,2025-07-30 23:33:22.904488
4,5,1 Bedroom Apartment / Flat,KSh 7 500 000,Westlands,"Westlands, Westlands, Nairobi",Call or WhatsApp: +254 787 855 213\r\n?? Westl...,1.0,1.0,1.0,55 m²,property24,1,https://www.property24.co.ke/property-for-sale...,2025-07-30 23:33:22.904488

In [3]:
data.shape

(194449, 14)

In [6]:
data.describe()

,id,bedrooms,bathrooms,parking,page
count,194449.000000,159955.000000,156289.000000,119815.000000,194449.000000
mean,97225.000000,2.905610,3.075147,2.113579,3048.147823
std,56132.735584,1.791229,1.738846,2.675619,2421.585475
min,1.000000,0.500000,0.500000,0.250000,1.000000
25%,48613.000000,2.000000,2.000000,1.000000,550.000000
50%,97225.000000,3.000000,3.000000,2.000000,2865.000000
75%,145837.000000,4.000000,4.000000,2.000000,5179.000000
max,194449.000000,234.000000,191.000000,230.000000,7494.000000

In [7]:
data.isnull().sum()

id                  0
title               0
price               0
location            0
address         12175
description         0
bedrooms        34494
bathrooms       38160
parking         74634
size           106619
source              0
page                0
url                 0
inserted_at         0
dtype: int64

In [8]:
data.columns

Index(['id', 'title', 'price', 'location', 'address', 'description',
       'bedrooms', 'bathrooms', 'parking', 'size', 'source', 'page', 'url',
       'inserted_at'],
      dtype='object')