In [1]:
import pandas as pd

In [11]:
data = pd.read_csv("../data/raw/raw_listings.csv")
data.head(5)

,id,title,price,location,address,description,bedrooms,bathrooms,parking,size,source,page,url,inserted_at
0,1,2 Bedroom Apartment / Flat,KSh 15 140 000,Westlands,"Westlands, Westlands, Nairobi",1 bedroom (58 sqm) from Kes. 9.12m – 9.47M\r\n...,2.0,2.0,2.0,94 m²,property24,1,https://www.property24.co.ke/property-for-sale...,2025-07-30 23:33:22.904488
1,2,4 Bedroom Apartment / Flat,KSh 23 500 000,Parklands,"Parklands, Parklands, Nairobi",Price: KSH 23.5M\r\n\r\nStep into luxury with ...,4.0,4.0,2.0,112 m²,property24,1,https://www.property24.co.ke/property-for-sale...,2025-07-30 23:33:22.904488
2,3,2 Bedroom Apartment / Flat,KSh 12 600 000,Westlands,"Westlands, Westlands, Nairobi",Discover a stunning 24-floor residential maste...,2.0,2.0,2.0,94 m²,property24,1,https://www.property24.co.ke/property-for-sale...,2025-07-30 23:33:22.904488
3,4,4 Bedroom Apartment / Flat,KSh 57 300 000,Westlands,"Westlands, Westlands, Nairobi","Elegant & Spacious 2, 3 & 4 Bedroom Apartments...",4.0,5.0,3.0,3400 m²,property24,1,https://www.property24.co.ke/property-for-sale...,2025-07-30 23:33:22.904488
4,5,1 Bedroom Apartment / Flat,KSh 7 500 000,Westlands,"Westlands, Westlands, Nairobi",Call or WhatsApp: +254 787 855 213\r\n?? Westl...,1.0,1.0,1.0,55 m²,property24,1,https://www.property24.co.ke/property-for-sale...,2025-07-30 23:33:22.904488

In [3]:
data.shape

(194449, 14)

In [6]:
data.describe()

,id,bedrooms,bathrooms,parking,page
count,194449.000000,159955.000000,156289.000000,119815.000000,194449.000000
mean,97225.000000,2.905610,3.075147,2.113579,3048.147823
std,56132.735584,1.791229,1.738846,2.675619,2421.585475
min,1.000000,0.500000,0.500000,0.250000,1.000000
25%,48613.000000,2.000000,2.000000,1.000000,550.000000
50%,97225.000000,3.000000,3.000000,2.000000,2865.000000
75%,145837.000000,4.000000,4.000000,2.000000,5179.000000
max,194449.000000,234.000000,191.000000,230.000000,7494.000000

In [7]:
data.isnull().sum()

id                  0
title               0
price               0
location            0
address         12175
description         0
bedrooms        34494
bathrooms       38160
parking         74634
size           106619
source              0
page                0
url                 0
inserted_at         0
dtype: int64

In [8]:
data.columns

Index(['id', 'title', 'price', 'location', 'address', 'description',
       'bedrooms', 'bathrooms', 'parking', 'size', 'source', 'page', 'url',
       'inserted_at'],
      dtype='object')

In [12]:
# filter out land listings
land_keywords = ["land", "plot", "vacant", "erf"]
clean_data = data[~data['title'].str.lower().str.contains('|'.join(land_keywords))]
clean_data.shape

(168143, 14)

In [13]:
clean_data.isnull().sum()

id                 0
title              0
price              0
location           0
address         9669
description        0
bedrooms        8188
bathrooms      11854
parking        48328
size           96992
source             0
page               0
url                0
inserted_at        0
dtype: int64

In [14]:
# Drop duplicates based on title + location + price + url
clean_data = clean_data.drop_duplicates(subset=["title", "location", "price", "url"])
clean_data.shape

(140158, 14)

In [15]:
clean_data.isnull().sum()

id                 0
title              0
price              0
location           0
address         8746
description        0
bedrooms        5159
bathrooms       8515
parking        39005
size           81997
source             0
page               0
url                0
inserted_at        0
dtype: int64

In [24]:
# drop listings with no bedroom & bathroom
clean_data = clean_data.dropna(subset=["bedrooms", "bathrooms"], how="all")
clean_data.shape

(134999, 14)

In [21]:
# fill missing parking with "Not specified"
clean_data["parking"] = clean_data["parking"].fillna("Not specified")

In [22]:
# fill address with location where missing
clean_data["address"] = clean_data["address"].fillna(clean_data["location"])

In [25]:
clean_data.isnull().sum()

id                 0
title              0
price              0
location           0
address            0
description        0
bedrooms           0
bathrooms       3356
parking            0
size           78727
source             0
page               0
url                0
inserted_at        0
dtype: int64

In [30]:
clean_data.columns

Index(['id', 'title', 'price', 'location', 'address', 'description',
       'bedrooms', 'bathrooms', 'parking', 'size', 'source', 'page', 'url',
       'inserted_at', 'has_size', 'property_type'],
      dtype='object')

In [48]:
clean_data.dtypes

id                      int64
title                  object
price                 float64
location               object
address                object
description            object
bedrooms              float64
bathrooms             float64
parking                object
size_sqm              float64
source                 object
page                    int64
url                    object
inserted_at            object
has_size                int64
property_type          object
price_numeric         float64
price_per_sqm         float64
estimated_size_sqm    float64
dtype: object

In [47]:
clean_data.head()

,id,title,price,location,address,description,bedrooms,bathrooms,parking,size_sqm,source,page,url,inserted_at,has_size,property_type,price_numeric,price_per_sqm,estimated_size_sqm
0,1,2 Bedroom Apartment / Flat,15140000.0,Westlands,"Westlands, Westlands, Nairobi",1 bedroom (58 sqm) from Kes. 9.12m – 9.47M\r\n...,2.0,2.0,2.0,94.0,property24,1,https://www.property24.co.ke/property-for-sale...,2025-07-30 23:33:22.904488,1,house,15140000.0,161063.829787,94.0
1,2,4 Bedroom Apartment / Flat,23500000.0,Parklands,"Parklands, Parklands, Nairobi",Price: KSH 23.5M\r\n\r\nStep into luxury with ...,4.0,4.0,2.0,112.0,property24,1,https://www.property24.co.ke/property-for-sale...,2025-07-30 23:33:22.904488,1,house,23500000.0,209821.428571,112.0
2,3,2 Bedroom Apartment / Flat,12600000.0,Westlands,"Westlands, Westlands, Nairobi",Discover a stunning 24-floor residential maste...,2.0,2.0,2.0,94.0,property24,1,https://www.property24.co.ke/property-for-sale...,2025-07-30 23:33:22.904488,1,house,12600000.0,134042.553191,94.0
3,4,4 Bedroom Apartment / Flat,57300000.0,Westlands,"Westlands, Westlands, Nairobi","Elegant & Spacious 2, 3 & 4 Bedroom Apartments...",4.0,5.0,3.0,3400.0,property24,1,https://www.property24.co.ke/property-for-sale...,2025-07-30 23:33:22.904488,1,house,57300000.0,16852.941176,3400.0
4,5,1 Bedroom Apartment / Flat,7500000.0,Westlands,"Westlands, Westlands, Nairobi",Call or WhatsApp: +254 787 855 213\r\n?? Westl...,1.0,1.0,1.0,55.0,property24,1,https://www.property24.co.ke/property-for-sale...,2025-07-30 23:33:22.904488,1,house,7500000.0,136363.636364,55.0

In [51]:
# Rename 'size' to 'size_sqm'
clean_data.rename(columns={"size": "size_sqm"}, inplace=True)

# Convert to string and extract numbers (e.g., from "230 m²" → 230)
clean_data["size_sqm"] = clean_data["size_sqm"].astype(str).str.extract(r"(\d+\.?\d*)")[0].astype(float)

# Compute price per sqm for rows with known size
clean_data["price_per_sqm"] = clean_data["price"] / clean_data["size_sqm"]

# Compute average price per sqm by location (ignoring NaNs)
avg_ppsqm = clean_data.groupby("location")["price_per_sqm"].mean()

# Fill missing size_sqm values using estimated size = price / avg_price_per_sqm
clean_data["estimated_size_sqm"] = clean_data.apply(
    lambda row: row["price"] / avg_ppsqm[row["location"]] if pd.isnull(row["size_sqm"]) and row["location"] in avg_ppsqm else row["size_sqm"],
    axis=1
)

# Fill missing size_sqm with estimated values
clean_data["size_sqm"].fillna(clean_data["estimated_size_sqm"], inplace=True)

global_avg_ppsqm = clean_data["price_per_sqm"].mean()

clean_data["size_sqm"].fillna(clean_data["price"] / global_avg_ppsqm, inplace=True)

clean_data["price_per_sqm"] = clean_data["price"] / clean_data["size_sqm"]


clean_data.isnull().sum()

/tmp/ipykernel_8647/2908439477.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  clean_data["size_sqm"].fillna(clean_data["estimated_size_sqm"], inplace=True)
/tmp/ipykernel_8647/2908439477.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  clean_data["size_sqm"].fillna(clean_data["price"] / global_avg_ppsqm, inplace=True)

id                       0
title                    0
price                    0
location                 0
address                  0
description              0
bedrooms                 0
bathrooms             3356
parking                  0
size_sqm                 0
source                   0
page                     0
url                      0
inserted_at              0
has_size                 0
property_type            0
price_numeric            0
price_per_sqm            0
estimated_size_sqm     225
dtype: int64

In [52]:
# Compute median bathrooms per location
bathroom_medians = clean_data.groupby("location")["bathrooms"].median()

# Fill missing bathrooms
clean_data["bathrooms"] = clean_data.apply(
    lambda row: bathroom_medians[row["location"]] if pd.isnull(row["bathrooms"]) and row["location"] in bathroom_medians else row["bathrooms"],
    axis=1
)

# If any still missing, fill with global median
clean_data["bathrooms"].fillna(clean_data["bathrooms"].median(), inplace=True)

/tmp/ipykernel_8647/1371189992.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  clean_data["bathrooms"].fillna(clean_data["bathrooms"].median(), inplace=True)

In [53]:
clean_data.isnull().sum()

id                      0
title                   0
price                   0
location                0
address                 0
description             0
bedrooms                0
bathrooms               0
parking                 0
size_sqm                0
source                  0
page                    0
url                     0
inserted_at             0
has_size                0
property_type           0
price_numeric           0
price_per_sqm           0
estimated_size_sqm    225
dtype: int64